---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/Icons/LinkedIn.astro";
import SocialPin from "../components/SocialPin.astro";
import GithubIcon from "../components/Icons/Github.astro";
import MailIcon from "../components/Icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/Icons/Briefcase.astro";
---

<Layout title="Portfolio Nicolas Escobar" description="Descripción portfolio">
  <main>
    <section class="mx-auto w-full pb-24 pt-44 lg:w-[740px]">
      <h1 class="flex flex-row gap-x-4 pb-4 text-5xl font-bold text-white">
        Hey, soy Nicolas <a
          href="https://www.linkedin.com/in/nicolaset/"
          target="_blank"
          rel="noopener"
          class="flex items-center justify-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-wrap text-2xl opacity-80">
        +2 años de experiencia. Ingeniero de Software. De Colombia, Neiva.
        Especializado en crear aplicaciones unicas
      </h2>

      <nav class="mt-8 flex gap-x-4">
        <SocialPin href="https://www.linkedin.com/in/nicolaset/">
          <LinkedInIcon class="size-6" slot="icon" />
          LinkedIn
        </SocialPin>
        <SocialPin href="https://github.com/NicolasET">
          <GithubIcon class="size-6" slot="icon" />
          LinkedIn
        </SocialPin>
        <SocialPin>
          <MailIcon class="size-6" slot="icon" />
          nicolaset98@gmail.com
        </SocialPin>
      </nav>
    </section>

    <section id="experiencia" class="mx-auto w-full lg:w-[740px]">
      <h2 class="mb-6 flex items-center gap-x-2 text-2xl font-semibold">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </section>
  </main>
</Layout>
