<header class="item-center mx-auto flex w-[1120px] justify-between py-5">
  <div class="size-12 rounded-full bg-gray-500">
    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
        clip-rule="evenodd"></path></svg
    >
  </div>

  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
